
.mermaid .flowchart-link {
    stroke: var(--mermaid-arrow-color) !important;
    stroke-width: 2px;
}
.mermaid .marker {
    fill: var(--mermaid-arrow-color) !important;
    stroke: var(--mermaid-arrow-color) !important;
}

.mermaid b {
/* whoops accidentally broke \b \b tags inside mermaid node labels */
  font-weight: 800
}

.graph-outdated {
  filter: blur(2px) saturate(50%);
  opacity: 0.5s;
  transition: filter 1.5s, opacity 1.5s;
}

.graph-up-to-date {
 /* to prevent weird scrolling bugs*/
transition: filter 1.5s, opacity 1.5s ease-in-out;
}

.graph-controls {
  justify-self: right;
  margin-right: 60px;
}

.graph-controls button {
  padding: 0px;
  height: 32px;
  width: 32px;
  line-height: 0px;
  transition: 0.15s;
}

.graph-controls .disabled {
  background-color: gray;
  color: black;
  opacity: 0.6;
}

.graph-controls .empty {
  background-color: black;
  color: white;
}

.graph-controls .eraseable {
  background-color: red;
  color: white;
  font-weight: 600;
  border: 3px solid white; /* Width Style Color */
}


@keyframes s-ripple {
    0% {
        transform: scale(0.5);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0.8;
        transform: scale(1);
    }
}

.graph-controls .activated {
  border: 2px solid orange; /* Width Style Color */
animation: s-ripple 250ms ease-out;
}

.graph-controls .exit-erase {
  background-color: darkorange
}
/* red */
/* yellow */
